/*
$darkest-color
$dark-color
$light-color
$lightest-color
$primary-color
*/


html {
  font-size: small;
}

// légendes des images :
.imageblock > .title {
    text-decoration: underline;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    }

// listes à puces compactes :
ul > p, li > p { margin: 0; padding: 0;}

// code blocks plus apparents :
div.listingblock, div.literalblock { background-color: $darkest-color; }

// quotes plus apparentes :
.quoteblock {
    font-style: italic;
    margin-left: 1em;
    border-left: 3px solid $primary-color;
    background-color: $darkest-color;
}
.quoteblock .attribution {
    text-align: right;
}

// inline code plus apparents :
code { background-color: $darkest-color; padding: 1px;}

// collapsible avec summary+details :

// +++ <details><summary> +++
// Cliquez ici pour déplier ce collapsible.
// +++ </summary><div> +++
// ...
// Contenu du collapsible.
// ...
// +++ </div></details> +++

summary { cursor: pointer; text-decoration: underline; }
details {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid $primary-color;
}

// text decoration :
.line-through { text-decoration: line-through; }
.underline {text-decoration: underline; }


// tableaux :
table {
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
	vertical-align: middle;
}
th, td {
	border: 1.25px solid $light-color;
	padding: 4px;
	text-align: left;
}
th { background-color: $darkest-color; }
td > p { margin: 4px; }


// tableaux représentant des graphes linéaires :
.linear-graph {
    background-color: $lightest-color;
    margin: 15px;
    padding: 15px;
    display: inline-block;
}

.linear-graph tr, td {
    background-color: $lightest-color;
    color: $darkest-color;
	border: 4px solid $darkest-color;
    padding: 5px 5px 5px 5px;
    font-size: 140%;
    text-align: center;
    font-family: monospace;
}

.bg-green  { background-color: yellowgreen; }
.bg-orange { background-color: orange; }
.bg-darkorange { background-color: darkorange; }
.bg-red    { background-color: brown; }
.bg-grey   { background-color: grey; }
.bg-lavender   { background-color: lavender; }
.bg-royalblue   { background-color: royalblue; }


// background blanc pour images SVG transparentes :
.img-white-background img { background-color: white; }
